@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .writing-vertical-lr {
    writing-mode: vertical-lr;
    text-orientation: mixed;
  }
  .book-popup {
    box-shadow: 0 10px 25px var(--color-dark);
  }
  .book-spine {
    inset: 0 0 0 1px rgba(255, 255, 255, 0.05), inset 4px,
      0 0 0 var(--color-accent) 99 2px 2px 4px rgb(0, 0, 0, 0.5);
  }
}

@theme {
  --color-book: #6e5b3e;
  --color-accent: #946b2d;
  --color-dark: #0e1a40;
  --color-background: 222.2 84% 4.9%;
  --color-foreground: 210 40% 98%;
}

@layer base {
  :root {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}
