@import "tailwindcss";

@font-face {
  font-family: 'HarryPotter';
  src: url('/fonts/harrypotter.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'HarryPotter', Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .writing-vertical-lr {
    writing-mode: vertical-lr;
    text-orientation: mixed;
  }

  .book-popup {
    /* box-shadow: 0 10px 25px var(--color-dark); */

  }

  .book-spine {


    /* box-shadow: 2px 4px 10px var(--book-shadow); */
    display: flex;
    width: 120px;
    color: #f0e7d5;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
  }

  .book-spine:hover {
    transform: scale(1.05) rotateZ(-1deg);
    transition: transform 0.2s ease-in-out;
    box-shadow:
      0 0 10px rgba(255, 255, 255, 0.3),
      0 0 20px rgba(255, 255, 255, 0.2),
      0 0 30px rgba(255, 255, 255, 0.3);
    z-index: 11;
  }

  .book-spine::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 8px;
    height: 100%;
    background: var(--book-spine);
    border-right: 2px solid #00000044;
  }

  .book-color-gryffindor {
    background-color: #ae0001;
  }

  .book-color-slytherin {
    background-color: #2a623d;
  }

  .book-color-Ravenclaw {
    background-color: #222f5b;
  }

  .book-color-hufflepuff {
    background-color: #b3863b;
  }
}

@theme {
  --color-shelf: #5d4037;
  --color-book: #6e5b3e;
  --color-accent: #946b2d;
  --color-dark: #0e1a40;
  --color-background: 222.2 84% 4.9%;
  --color-foreground: 210 40% 98%;
  --color-title: #d4af37;
  --color-description: #f0f0f0;
}

@layer base {
  :root {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}